<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.ProyectoRompecabezas"
        android:label="Proyecto Rompecabezas">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CrearPuzzleActivity"/>
        <activity android:name=".ArmarPuzzleActivity"/>
    </application>

</manifest>
